/* show.blade css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.container {
    max-width: 800px;
    padding: 10px;
    background-color: white;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.profile-avatar {
    margin-left: 140px;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
.profile-details {
    margin-left: 100px;
    flex-grow: 1;
}
.profile-details h5 {
    margin-right: 20px;
    font-weight: 400;
}
.profile-stats {
    display: flex;
    margin-top: 10px;
}
.profile-stats div {
    margin-right: 40px;
    font-size: 16px;
}
.profile-stats div a {
    color: black;
    text-decoration: none;
}
.profile-stats div a:hover {
    text-decoration: none;
}
.profile-bio {
    margin-top: 20px;
    font-size: 16px;
}

.profile-bio h6 {
    font-weight: 600;
}
.edit-button,
.follow-button,
.log-out-button {
    padding: 5px 18px;
    display: inline;
    background-color: #efefef;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.edit-button:hover,
.follow-button:hover,
.log-out-button:hover {
    background-color: #dbdbdb;
    color: black;
    text-decoration: none;
}
.log-out-button {
    margin-left: 15px;
    margin-bottom: 17px;
}

/* main.blade */

/* Tabs CSS */
.tab {
    display: inline-block;
    cursor: pointer;
    padding: 0 50px 10px 5px;
    font-size: 14px;
}
.tab.active {
    font-weight: 600;
}
.tab-container {
    margin-top: 20px;
    margin-left: 20px;
}
.tab-content {
    display: none;
    margin-left: 20px;
}
.tab-content.active {
    display: block;
}

/* Posts css */
.post-card,
.saved-post-grid .card {
    height: 300px;
    max-height: 300px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.post-card img,
.saved-post-grid .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img {
    background-color: #000000;
    width: 100%;
    height: 100%;
    min-height: 300px;
    align-content: center;
    object-fit: cover;
}

.post-grid .col-md-4,
.saved-post-grid .col-md-4 {
    padding: 2px;
}

/* Modal CSS */
.modal-content-profile {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.modal-dialog-profile {
    margin: 30px auto;
    max-width: 350px;
}

.avatar-profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
}
.follower-list-item-profile {
    display: flex;
    align-items: center;
}

.modal-body .media {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.modal-body .media img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.modal-body .media-body {
    margin-top: 10px;
    margin-bottom: 0;
}

.modal-title {
    text-align: center;
    width: 100%;
}

.media-body .user-name {
    text-decoration: none;
    color: black;
}

.media-body .full-name {
    text-decoration: none;
    color: #787878;
}
